
#root {
  position: relative;
}
pre {
  
  position: absolute;
  left: 20%;
  top: 20%;
  margin-left: 15%;
 
}


h1 {
  color: blue;
  position: absolute;
  margin-left: 35%;
}
#container {
  border: 1px solid green;
  width: 600px;
  height: 300px;
  margin-left: 25%;
  // position: relative;
  
}
button {
  position: absolute;
  margin-left: 17%;
  margin-bottom: 1%;
  bottom: 0%;
  width: 130px;
  height: 30px;
  border-radius: 7px;
  border: 1px red solid;
}